.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.main > img {
  max-width: 600px;
  width: 100%;
  padding: 16px;
}
