.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  padding: 16px;
}

.main > div,
.overview > div {
  flex-shrink: 1;
}


.main > div > img,
.overview > div > img{
  width: 100%;
  max-height: 80vh;
}

.overview {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  padding: 16px;
}


.h2 {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
  text-align: center;
}

.p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  padding: 8px;
  text-align: center;
}

@media (max-width: 768px) {
  .h2 {
    font-size: 36px;
  }
  .p {
    font-size: 16px;
  }
}
@media (max-width: 330px) {
  .h2 {
    font-size: 28px;
  }
  .p {
    font-size: 14px;
  }
}